# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Kotlin
*.kotlin_module

# Android build
captures/
.externalNativeBuild/
.cxx/

# Logs
*.log

.kotlin

xcuserdata
!src/**/build/
local.properties
.idea
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
